.player-block{
    background-color: rgb(0, 197, 131);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 0;
    box-shadow: 7px 7px #01553f;

}